In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
#get the dataset
columns_names=("user_id","item_id","rating","timestamp")
df=pd.read_csv("ml-100k/u.data",sep='\t',names=columns_names)
movies_titles=pd.read_csv("ml-100k/u.item",sep="\|",header=None)
movies_titles=movies_titles[[0,1]]
movies_titles.columns=['item_id','title']
df=pd.merge(df,movies_titles,on="item_id")
ratings=pd.DataFrame(df.groupby('title').mean()['rating'])
ratings['num of ratings']=pd.DataFrame(df.groupby('title').count()['rating'])
moviemat=df.pivot_table(index="user_id",columns="title",values='rating')
def predict_movies(movie_name):
    movie_user_ratings=moviemat[movie_name]
    similar_to_movie=moviemat.corrwith(movie_user_ratings)
    corr_movie=pd.DataFrame(similar_to_movie,columns=['Correlation'])
    corr_movie.dropna(inplace=True)
    corr_movie=corr_movie.join(ratings['num of ratings'])
    corr_movie=corr_movie.join(ratings['rating'].round(1))
    predictions=corr_movie[corr_movie['num of ratings']>100].sort_values('Correlation',ascending=False)
    return predictions[["Correlation","rating"]].iloc[1:]

In [2]:
predictions=predict_movies("Star Wars (1977)")
predictions.head()

                                                    Correlation  rating
title
Empire Strikes Back, The (1980)                        0.747981     4.2
Return of the Jedi (1983)                              0.672556     4.0
Raiders of the Lost Ark (1981)                         0.536117     4.3
Austin Powers: International Man of Mystery (1997)     0.377433     3.2
Sting, The (1973)                                      0.367538     4.1

In [3]:
predictions=predict_movies("Titanic (1997)")
predictions.head()

                                               Correlation  rating
title
River Wild, The (1994)                            0.497600     3.1
Abyss, The (1989)                                 0.472103     3.6
Bram Stoker's Dracula (1992)                      0.443560     3.2
True Lies (1994)                                  0.435104     3.6
William Shakespeare's Romeo and Juliet (1996)     0.430243     3.6